<mat-toolbar color="primary">
  <span>设备编码: {{ uuid | async }}</span>
</mat-toolbar>

<div>
  <mat-grid-list cols="6">
    <!-- <mat-grid-tile cols="1" [colspan]="1" [rowspan]="1">1</mat-grid-tile> -->
    <mat-grid-tile cols="1" [colspan]="2" [rowspan]="2" [style.background]="background">1</mat-grid-tile>
    <mat-grid-tile cols="1" [style.background]="background">2</mat-grid-tile>
    <mat-grid-tile cols="1" [style.background]="background">3</mat-grid-tile>
    <mat-grid-tile cols="1" [colspan]="2" [rowspan]="1">
      <div>
        <div *ngFor="let c of calc | async"> {{ c }} </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile cols="1" [style.background]="background">5</mat-grid-tile>
    <mat-grid-tile cols="1" [style.background]="background">6</mat-grid-tile>
    <mat-grid-tile cols="1" [style.background]="background">7</mat-grid-tile>
    <mat-grid-tile cols="1" [style.background]="background">8</mat-grid-tile>
    <mat-grid-tile cols="1" [style.background]="background">9</mat-grid-tile>
    <mat-grid-tile cols="1" [style.background]="background">10</mat-grid-tile>
    <mat-grid-tile cols="1" [style.background]="background">11</mat-grid-tile>
    <mat-grid-tile cols="1" [style.background]="background">12</mat-grid-tile>
  </mat-grid-list>


</div>

<router-outlet></router-outlet>
