<mat-toolbar color="primary">
  <span>设备编码: {{ uuid }}</span>
</mat-toolbar>

<div>
  <mat-grid-list cols="6">
    <!-- <mat-grid-tile cols="1" [colspan]="1" [rowspan]="1">1</mat-grid-tile> -->
    <mat-grid-tile cols="1" [colspan]="2" [rowspan]="2" [style.background]="background">
      {{ panel }}
    </mat-grid-tile>
    <mat-grid-tile cols="1" [style.background]="background">2</mat-grid-tile>
    <mat-grid-tile cols="1" [style.background]="background">3</mat-grid-tile>
    <mat-grid-tile cols="1" [colspan]="2" [rowspan]="1">
      <div>
        <table>
          <thead>
            <td width="80">最新净值</td>
            <td width="80">确认净值</td>
            <td width="80">持有份额</td>
            <td width="80">持有天数</td>
            <td width="80">交易金额</td>
            <td width="80">收益率</td>
          </thead>
          <tbody *ngFor="let c of fundTradeHistoryList">
            <tr [style.background]="c.get('bg')">
              <td>{{ c.get('latestPrice') }}</td>
              <td>{{ c.get('price') }}</td>
              <td>{{ c.get('tradeNumber') }}</td>
              <td>{{ c.get('days') }}</td>
              <td>{{ c.get('totalAmount') }}</td>
              <td>{{ c.get('yield') }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-grid-tile>
    <mat-grid-tile cols="1" [style.background]="background">5</mat-grid-tile>
    <mat-grid-tile cols="1" [style.background]="background">6</mat-grid-tile>
    <mat-grid-tile cols="1" [style.background]="background">7</mat-grid-tile>
    <mat-grid-tile cols="1" [style.background]="background">8</mat-grid-tile>
    <mat-grid-tile cols="1" [style.background]="background">9</mat-grid-tile>
    <mat-grid-tile cols="1" [style.background]="background">10</mat-grid-tile>
    <mat-grid-tile cols="1" [style.background]="background">11</mat-grid-tile>
    <mat-grid-tile cols="1" [style.background]="background">12</mat-grid-tile>
  </mat-grid-list>


</div>

<router-outlet></router-outlet>